#simdesk-root {
  margin: 0;
  font-family: sans-serif;
  overflow: hidden;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}
.sim-desktop {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
#desktop {
  background: url("/background/utown.jpg") no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  flex: 1;
}
img {
  pointer-events: auto;
  /* user-drag: none; */
  -webkit-user-drag: none;
}
#taskbar {
  bottom: 0;
  left: 0;
  right: 0;
  height: 48px;
  background: #222;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
  color: white;
  font-size: 12px;
  line-height: 16px;
}

.taskbar-left,
.taskbar-center,
.taskbar-right {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 100%;
}

.start-button {
  background: #444;
  color: white;
  border: none;
  padding: 4px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.taskbar-app {
  background: #333;
  color: white;
  border: none;
  padding: 4px 4px;
  border-radius: 4px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  min-width: 120px;
}
.taskbar-app:hover {
  background: #444;
}
.taskbar-icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  margin-left: 4px;
}

.clock {
  text-align: right;
}

#start-menu {
  position: absolute;
  bottom: 40px;
  left: 10px;
  background: #333;
  color: white;
  border: 1px solid #555;
  display: flex;
  flex-direction: column;
  min-width: 160px;
  z-index: 10000;
}

#start-menu button {
  background: none;
  border: none;
  color: white;
  padding: 10px;
  text-align: left;
  cursor: pointer;
}

#start-menu button:hover {
  background: #444;
}

.start-button {
  background: #444;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}

.app-container {
  text-align: center;
  width: 80px;
  margin: 10px;
}

.icon {
  width: 48px;
  height: 48px;
  margin: 10px auto 0 auto;
  cursor: pointer;
}

.icon-label {
  color: white;
  font-size: 12px;
  margin-top: 2px;
}

.window {
  position: relative;
  top: 100px;
  left: 100px;
  width: 600px;
  height: 400px;
  background: white;
  border: 1px solid #aaa;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
}

.titlebar {
  background: #0078d7;
  color: white;
  padding: 5px 10px;
  font-weight: bold;
  cursor: move;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-btn {
  background: red;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  cursor: pointer;
  color: white;
  border-radius: 3px;
}

iframe {
  flex: 1;
  border: none;
}

webview {
  flex: 1;
  border: none;
}

/*Disable select text*/
body,
.window,
.titlebar,
.icon-label,
.icon {
  user-select: none;
  -webkit-user-select: none;
}

.drag-overlay {
  /* display: none; */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background: transparent;
  cursor: move;
}
